<div class="comment">
  <p>
      <strong>
      Commenter:
      </strong>
      <%= comment.user.username %>
      <img src="<%= comment.user.avatar %>" height="30" />
  </p>
  <p>
    <%= comment.body %>
  </p>
</div>
